exportPattern("^[[:alpha:]]+")
import("biomaRt")
importFrom("caTools", "combs")
importFrom("dplyr", "as.tbl", "filter", "tibble")
import("ggplot2")
importFrom("ggpubr", "ggarrange")
importFrom("graphics", "abline", "grid", "hist", "mtext", "par", "curve", "points", "legend", "plot")
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf", "rainbow")
importFrom("gtools", "logit", "inv.logit")
importFrom("magrittr", "%>%")
importFrom("maxLik", "maxLik")
importFrom("RColorBrewer", "brewer.pal")
importFrom("reshape2", "melt")
importFrom("stats", "dbinom", "pchisq", "runif", "qqplot", "median", "sd", "dist", "rpois", "dpois",
           "ecdf", "optimize", "p.adjust", "rbeta")
importFrom("tibble", "add_column", "tibble")
importFrom("utils", "data", "read.table", "read.csv", "head", "tail", "write.table")